@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Akaya Kanadaka', cursive;
}

body a {
    text-decoration: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

a:hover {
    text-decoration: none;
}

.navbar {
    border-bottom: 2px solid #91f50e;
    background-color: #888888;
}

.navbar .nav-link,
.navbar .navbar-brand {
    font-family: 'Akaya Kanadaka', cursive;
    font-size: 33px;
    color: #ffffff!important;
}
.navbar .nav-link:hover,
.navbar .navbar-brand:hover {
    color: #00f3ff!important;
}

button:active, button:focus {
  outline: none !important;
}
button::-moz-focus-inner {
  border: 0 !important;
}

.audio {
    border: 3px solid #26f50073;
    border-radius: 8px;
    background: #fafafa;
    padding: 5%;
    margin-bottom: 15px;
    text-align: center;
    font-size: 22px;
    transition: all .8s;
}

.audio:hover {
    border: 3px solid #00effb73;
    -webkit-box-shadow: -1px 5px 43px -9px rgba(0,0,0,0.56);
    -moz-box-shadow: -1px 5px 43px -9px rgba(0,0,0,0.56);
    box-shadow: -1px 5px 43px -9px rgba(0,0,0,0.56);
}

.row {
    margin-left: 9%;
}

@media (max-width: 900px) {
    .row {
        margin-left: 0;
    }
}

footer {
    width: 82%;
    margin-left: 9%;
}