{% load audio_tag %}
<nav class="navbar navbar-expand-lg navbar-light" id="top">
    <a class="navbar-brand" href="{% url 'audio_list' %}">Audio Blog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <div class="btn-group">
                <a href="{% url 'audio_list' %}" type="button" class="btn btn-success mr-1">Главная</a>
                <a href="{% url 'add_audio' %}" type="button" class="btn btn-success mr-1">Добавить</a>
                <a href="{% url 'genre_list' %}" type="button" class="btn btn-success mr-1">Жанры</a>
                <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split"
                        data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="visually-hidden">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                    {% get_genres as genres %}
                    {% for genre in genres %}
                    <li><a class="dropdown-item" href="{{ genre.get_absolute_url }}">{{ genre.name|title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </ul>
        <form class="form-inline my-2 my-lg-0" action="{% url 'audio_list' %}">
            <input class="form-control mr-sm-2" type="search" placeholder="Поиск песни" aria-label="Search"
                   name="search">
            <button class="btn btn-success my-1 my-sm-0 mt-2" type="submit">Поиск</button>
        </form>
    </div>
</nav>