{% if is_paginated %}

<div class="paginator ">
    <p>
    <ul class="pagination justify-content-center">
        {% for n in page_obj.paginator.page_range %}
        {% if page_obj.number == n %}
        <li class="page-item active">
            <a class="page-link" href="?page={{ n }}">{{ n }}
                <span class="sr-only">(current)</span>
            </a>
        </li>
        {% elif n > page_obj.number|add:-3 and n < page_obj.number|add:3 %}
        <li class="page-item">
            <a class="page-link" href="?page={{ n }}">{{ n }}</a>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
    </p>
</div>

{% endif %}